<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AssignMint</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Feather.ttf</string>
	</array>
	<key>Config</key>
	<dict>
		<key>API_BASE_URL</key>
		<string>http://localhost:3000</string>
		<key>FIREBASE_API_KEY</key>
		<string>AIzaSyC7zjDmADwt2dtakT0ZQJZmw4gk-49UpcU</string>
		<key>FIREBASE_APP_ID</key>
		<string>1:772572800538:ios:fdc940b189ae56b32013a3</string>
		<key>FIREBASE_PROJECT_ID</key>
		<string>assignimt</string>
		<key>FIREBASE_AUTH_DOMAIN</key>
		<string>assignimt.firebaseapp.com</string>
		<key>FIREBASE_MESSAGING_SENDER_ID</key>
		<string>772572800538</string>
		<key>FIREBASE_STORAGE_BUCKET</key>
		<string>assignimt.appspot.com</string>
	</dict>
</dict>
</plist>
